@{
	Layout = "~/_Layout.cshtml";
}

@section head{
	<link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}
@section banner{
	<h1>Drop Down List (select tag)</h1>
}

@if (IsPost)
{
	var choice = Request.Form["pageselection"];
	switch (choice.ToUpper())
	{
		case "TEXTBOXES":
			{
				//to redirect yourself to another page
				//use the Response.Redirect command
				//this command needs the destination page
				// as an argument value
				//use relative addressing to get to your destination
				Response.Redirect("TextBoxes.cshtml");
				break;
			}
		case "RADIOBUTTONS":
			{
				Response.Redirect("RadioButtons.cshtml");
				break;
			}
		case "CHECKBOXES":
			{
				Response.Redirect("CheckBoxes.cshtml");
				break;
			}
		default:
			{
				<p><span style="color:firebrick;"> Make a choice! </span></p>

				break;
			}
	}
}

<form id="theform" method="post">
	<div class="row">
		<div class="col-md-offset-4">
			<label for="pageselection">Select page:</label>
			&nbsp;&nbsp;
			<!--the select tag is used for a drop down list
				each item in the list is set up with the option tag
				a data value is associated with the list item
					by using the value attribute-->
			<select id="pageselection" name="pageselection">
				<option value="">select ...</option>
				<option value="textboxes">Text boxes</option>
				<option value="raidobuttons">Radio buttons</option>
				<option value="checkboxes">checkboxes</option>
			</select>
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary" id="formbutton" name="formbutton" value="submit">Go to...</button>
			
		</div>
	</div>
</form>